body {
	padding: 10px;
}

form {
	vertical-align: top;
	border: 1px solid #ccc;
	padding: 10px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

form > div {
	display: block;
	margin-bottom: 10px;
}

form > div > label {
	display: block;
}

.submit {
	text-align: right;
}

.errors {
	color: red;
	width: 100%;
}

.success {
	color: green;
	width: 100%;
}

.messages {
	width: 240px;
	font-size: 12px;
	overflow: scroll;
}
